label.element
{
	/*width: 250px;*/
	width: 150px;
	display:inline-block;
	float:left;
	vertical-align:top;
}

div.error
{
	background:red;
}

table tr td 
{
	vertical-align:top;
	padding-right:75px;
}

td.nom_enfant 
{
	width:150px;
}

table.tableau_generique tr td, table.tableau_generique tr th
{
	border:1px solid black;
}

table.tableau_generique
{
	border-collapse: collapse;
}

input[type="text"]
{
	width:150px;
}

