label.element
{
	width: 240px;
	/*width: 150px;*/
	display:inline-block;
	float:left;
	vertical-align:top;
	clear: both;
}

textarea
{
    resize: none;
}

.input
{
	clear: both;
}

.error-message
{
	margin-left: 15px;
	color: white;
}

div.error
{
	background:red;
	border-radius: 5px;
	margin: 2px;
}

table tr td
{
	vertical-align:top;
}

.liste
{
	padding-right:75px;
}

td.nom_enfant 
{
	width:150px;
}

table.tableau_generique tr td, table.tableau_generique tr th
{
	border:1px solid black;
}

table.tableau_generique
{
	border-collapse: collapse;
}

input[type="text"]
{
	width:150px;
}

input[type="password"]
{
	clear: both;
	width:150px;
}

